<html>
	<body>
		<h2 style="text-align:center">ApiTest</h2>
                <ul>
			<li><h4>API 1 (POST) :</h4> <p>http://127.0.0.1:5000/post_location</p>
				<p>Expected Json <br>{
   
 						        "pin": "",
 						        "place_name": "",
  						       "admin_name": "",
   						      "latitude": "",
      						      "longitude": ""
       
  
						     }</p>
			</li>
			<li><h4>API 2 (GET 1) :</h4> <p>http://127.0.0.1:5000/get_using_postgres?latitude=&longitude=</p></li>
			<li><h4>API 2 (GET 2) :</h4> <p> http://127.0.0.1:5000/get_using_self?latitude=&longitude=</p></li>
		</ul>
	</body>
</html>
